.p-Home.navbarMain {
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 10px;
}
.p-Home.Flex3 {
display: flex;
align-items: center;
column-gap: 25px;
}
.p-Home.Flex4 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 20px;
}
.p-Home.Flex2 {
display: flex;
}
.p-Home.Flex5 {
display: flex;
align-items: center;
justify-content: center;
row-gap: ;
column-gap: 25px;
}
.p-Home.Div1 {
;
}
.p-Home.Div2 {
;
}
.p-Home.Div4 {
;
}
.p-Home.Div5 {
;
}
.p-Home.Div6 {
;
}
.p-Home.Flex6 {
display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
font-family: Josefin Sans;
font-weight: 700;
font-size: 4rem;
flex-direction: column;
}
.p-Home.Div7 {
;
}
.p-Home.Flex7 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 40px;
flex-direction: row;
}
.p-Home.Div8 {
;
}
.p-Home.Div9 {
;
}
.p-Home.Div10 {
;
}
.p-Home.Div11 {
;
}
.p-Home.Div12 {
;
}
.p-Home.Flex8 {
display: flex;
margin-top: 100px;
align-items: center;
justify-content: center;
flex-direction: column;
column-gap: ;
row-gap: 7rem;
}
.p-Home.Flex9 {
display: flex;
width: 80%;
justify-content: space-between;
}
.p-Home.Div13 {
visibility: visible;
width: 225px;
position: relative;
}
.p-Home.Div32 {
width: 70px;
height: 30px;
border-radius: 15px;
position: absolute;
top: 15px;
z-index: 2;
background-color: #ffffff;
right: 15px;
}
.p-Home.Div14 {
font-family: ;
font-weight: 600;
font-size: 15px;
color: #000000;
width: 225px;
position: relative;
}
.p-Home.Div15 {
width: 70px;
height: 30px;
border-radius: 17px;
position: absolute;
top: 15px;
z-index: 2;
align-self: center;
text-align: center;
font-family: Open Sans;
font-weight: 700;
background-color: #ffffff;
right: 15px;
background-position-y: ;
font-size: 16px;
}
.p-Home.Div29 {
font-family: ;
font-weight: 600;
font-size: 15px;
color: #000000;
width: 225px;
position: relative;
}
.p-Home.Div28 {
width: 70px;
height: 30px;
border-radius: 15px;
position: absolute;
top: 15px;
z-index: 2;
background-color: #ffffff;
right: 15px;
}
.p-Home.Div31 {
font-family: ;
font-weight: 600;
font-size: 15px;
color: #000000;
width: 225px;
position: relative;
}
.p-Home.Div30 {
width: 70px;
height: 30px;
border-radius: 15px;
position: absolute;
top: 15px;
z-index: 2;
background-color: #ffffff;
right: 15px;
}
.p-Home.Flex10 {
display: flex;
width: 80%;
justify-content: space-between;
}
.p-Home.Div37 {
font-family: ;
font-weight: 600;
font-size: 15px;
color: #000000;
width: 225px;
position: relative;
}
.p-Home.Div33 {
width: 70px;
height: 30px;
border-radius: 15px;
position: absolute;
top: 15px;
z-index: 2;
background-color: #ffffff;
right: 15px;
}
.p-Home.Div38 {
font-family: ;
font-weight: 600;
font-size: 15px;
color: #000000;
width: 225px;
position: relative;
}
.p-Home.Div34 {
width: 70px;
height: 30px;
border-radius: 15px;
position: absolute;
top: 15px;
z-index: 2;
background-color: #ffffff;
right: 15px;
}
.p-Home.Div39 {
font-family: ;
font-weight: 600;
font-size: 15px;
color: #000000;
width: 225px;
position: relative;
}
.p-Home.Div35 {
width: 70px;
height: 30px;
border-radius: 17px;
position: absolute;
top: 15px;
z-index: 2;
align-self: center;
text-align: center;
font-family: Open Sans;
font-weight: 700;
background-color: #ffffff;
right: 15px;
background-position-y: ;
font-size: 16px;
}
.p-Home.Div40 {
visibility: visible;
width: 225px;
position: relative;
}
.p-Home.Div36 {
width: 70px;
height: 30px;
border-radius: 15px;
position: absolute;
top: 15px;
z-index: 2;
background-color: #ffffff;
right: 15px;
}
.p-Home.Flex11 {
display: flex;
align-items: center;
justify-content: center;
}
.p-Home.Flex12 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
margin-top: 30px;
row-gap: 10px;
}
.p-Home.Flex13 {
display: flex;
align-items: center;
justify-content: flex-start;
column-gap: 20px;
}
.p-Home.Div41 {
width: ;
height: ;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
border-color: #6b6b6b;
border-width: 3px;
border-radius: 15px;
text-align: center;
background-color: #f6f6f6;
border-style: solid;
}
.p-Home.Div42 {
width: ;
height: ;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
border-color: #6b6b6b;
border-width: 3px;
border-radius: 15px;
text-align: center;
background-color: #f6f6f6;
border-style: solid;
}
.p-Home.Div43 {
width: ;
height: ;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
border-color: #6b6b6b;
border-width: 3px;
border-radius: 15px;
text-align: center;
background-color: #f6f6f6;
border-style: solid;
}
.p-Home.Div44 {
width: ;
height: ;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
border-color: #6b6b6b;
border-width: 3px;
border-radius: 15px;
text-align: center;
background-color: #f6f6f6;
border-style: solid;
}
.p-Home.Flex14 {
display: flex;
align-items: center;
justify-content: flex-start;
column-gap: 20px;
margin-top: 30px;
}
.p-Home.Div45 {
width: ;
height: ;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
border-color: #6b6b6b;
border-width: 3px;
border-radius: 15px;
text-align: center;
background-color: #f6f6f6;
border-style: solid;
}
.p-Home.Div46 {
width: ;
height: ;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
border-color: #6b6b6b;
border-width: 3px;
border-radius: 15px;
text-align: center;
background-color: #f6f6f6;
border-style: solid;
}
.p-Home.Div47 {
width: ;
height: ;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
border-color: #6b6b6b;
border-width: 3px;
border-radius: 15px;
text-align: center;
background-color: #f6f6f6;
border-style: solid;
}
.p-Home.Div48 {
width: ;
height: ;
padding-top: 15px;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
border-color: #6b6b6b;
border-width: 3px;
border-radius: 15px;
text-align: center;
background-color: #f6f6f6;
border-style: solid;
}
.p-Home.Flex15 {
display: flex;
margin-top: 100px;
align-items: center;
justify-content: space-around;
}
.p-Home.Flex16 {
display: flex;
}
.p-Home.Div49 {
width: 300px;
}
.p-Home.Div50 {
;
}
.p-Home.Flex17 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex18 {
display: flex;
flex-direction: column;
row-gap: 5px;
}
.p-Home.Flex19 {
display: flex;
flex-direction: column;
row-gap: 5px;
}
.p-Home.Flex20 {
display: flex;
flex-direction: column;
}
.p-Home.Flex21 {
display: flex;
margin-top: 10px;
align-items: center;
justify-content: center;
row-gap: ;
column-gap: 2px;
background-color: #79ab4e;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Button1 {
color: #79ab4e;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 2px;
border-style: solid;
border-color: #79ab4e;
cursor: pointer;
user-select: none;
font-family: Open Sans;
outline-width: 2px;
outline-color: #4eff43;
}
.p-Home.Button2 {
color: #fff;
background-color: #79ab4e;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 18px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #00aaff;
cursor: pointer;
user-select: none;
box-sizing: border-box;
outline-color: ;
font-family: Open Sans;
}
.p-Home.Image1 {
width: 100px;
box-sizing: border-box;
height: 100px;
}
.p-Home.TextBox1 {
font-family: Open Sans;
font-weight: 600;
font-size: 18px;
}
.p-Home.TextBox4 {
font-family: Open Sans;
font-weight: 600;
font-size: 18px;
}
.p-Home.TextBox6 {
font-family: Open Sans;
font-weight: 600;
font-size: 18px;
}
.p-Home.TextBox7 {
font-family: Open Sans;
font-weight: 600;
font-size: 18px;
}
.p-Home.TextBox8 {
font-family: Open Sans;
font-weight: 600;
font-size: 18px;
}
.p-Home.TextBox10 {
font-family: Open Sans;
font-weight: 500;
font-size: 16px;
}
.p-Home.TextBox9 {
;
}
.p-Home.Button3 {
color: #ffffff;
background-color: #79ab4e;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 2px;
border-style: solid;
border-color: #79ab4e;
cursor: pointer;
user-select: none;
font-family: Open Sans;
box-sizing: border-box;
}
.p-Home.Button4 {
color: #79ab4e;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 2px;
border-style: solid;
border-color: #79ab4e;
cursor: pointer;
user-select: none;
font-family: Open Sans;
box-sizing: border-box;
}
.p-Home.Button5 {
color: #79ab4e;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 2px;
border-style: solid;
border-color: #79ab4e;
cursor: pointer;
user-select: none;
font-family: Open Sans;
box-sizing: border-box;
}
.p-Home.Button6 {
color: #79ab4e;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 2px;
border-style: solid;
border-color: #79ab4e;
cursor: pointer;
user-select: none;
font-family: Open Sans;
box-sizing: border-box;
}
.p-Home.Button7 {
color: #79ab4e;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 2px;
border-style: solid;
border-color: #79ab4e;
cursor: pointer;
user-select: none;
font-family: Open Sans;
box-sizing: border-box;
}
.p-Home.Image10 {
width: 225px;
border-radius: 20px;
height: 300px;
}
.p-Home.TextBox32 {
font-family: Open Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
}
.p-Home.TextBox34 {
color: #737373;
font-family: Open Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
}
.p-Home.TextBox41 {
font-family: Open Sans;
font-weight: 700;
font-size: 16px;
text-align: center;
padding-top: 4px;
}
.p-Home.Image2 {
width: 225px;
border-radius: 20px;
height: 300px;
}
.p-Home.TextBox11 {
font-family: Open Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
}
.p-Home.TextBox12 {
color: #737373;
font-family: Open Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
}
.p-Home.TextBox13 {
align-self: center;
margin-top: 0px;
text-align: center;
font-family: Josefin Sans;
font-weight: 700;
padding-top: 4px;
font-size: 16px;
}
.p-Home.TextBox36 {
color: #737373;
font-family: Open Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
}
.p-Home.TextBox37 {
font-family: Open Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
}
.p-Home.Image11 {
width: 225px;
border-radius: 20px;
height: 300px;
}
.p-Home.TextBox35 {
width: ;
height: ;
position: static;
right: 0;
align-self: center;
text-align: center;
font-family: Open Sans;
font-weight: 700;
margin-top: ;
padding-top: 4px;
font-size: 16px;
}
.p-Home.TextBox39 {
color: #737373;
font-family: Open Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
}
.p-Home.TextBox40 {
font-family: Open Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
}
.p-Home.Image12 {
width: 225px;
border-radius: 20px;
height: 300px;
}
.p-Home.TextBox38 {
font-family: Open Sans;
font-weight: 700;
font-size: 16px;
text-align: center;
padding-top: 4px;
}
.p-Home.Image13 {
width: 225px;
border-radius: 20px;
height: 300px;
}
.p-Home.TextBox46 {
font-family: Open Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
}
.p-Home.TextBox47 {
color: #737373;
font-family: Open Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
}
.p-Home.TextBox42 {
font-family: Open Sans;
font-weight: 700;
font-size: 16px;
text-align: center;
padding-top: 4px;
}
.p-Home.Image14 {
width: 225px;
border-radius: 20px;
height: 300px;
}
.p-Home.TextBox48 {
font-family: Open Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
}
.p-Home.TextBox49 {
color: #737373;
font-family: Open Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
}
.p-Home.TextBox43 {
width: ;
height: ;
position: static;
right: 0;
align-self: center;
text-align: center;
font-family: Open Sans;
font-weight: 700;
margin-top: ;
padding-top: 4px;
font-size: 16px;
}
.p-Home.TextBox50 {
color: #737373;
font-family: Open Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
}
.p-Home.TextBox51 {
font-family: Open Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
}
.p-Home.Image15 {
width: 225px;
border-radius: 20px;
height: 300px;
}
.p-Home.TextBox44 {
align-self: center;
margin-top: 0px;
text-align: center;
font-family: Josefin Sans;
font-weight: 700;
padding-top: 4px;
font-size: 16px;
}
.p-Home.TextBox52 {
color: #737373;
font-family: Open Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
}
.p-Home.TextBox53 {
font-family: Open Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
}
.p-Home.Image16 {
width: 225px;
border-radius: 20px;
height: 300px;
}
.p-Home.TextBox45 {
font-family: Open Sans;
font-weight: 700;
font-size: 16px;
text-align: center;
padding-top: 4px;
}
.p-Home.TextBox54 {
font-family: Josefin Sans;
font-weight: 700;
font-size: 3rem;
}
.p-Home.TextBox55 {
margin-bottom: 20px;
margin-top: 20px;
color: #000000;
}
.p-Home.TextBox56 {
box-sizing: border-box;
font-family: Josefin Sans;
font-weight: 700;
font-size: 2rem;
color: #79ab4e;
}
.p-Home.TextBox57 {
box-sizing: border-box;
font-family: Josefin Sans;
font-weight: 700;
font-size: 2rem;
color: #de0505;
}
.p-Home.TextBox58 {
box-sizing: border-box;
font-family: Josefin Sans;
font-weight: 700;
font-size: 2rem;
}
.p-Home.TextBox59 {
box-sizing: border-box;
font-family: Josefin Sans;
font-weight: 700;
font-size: 2rem;
}
.p-Home.TextBox60 {
box-sizing: border-box;
font-family: Josefin Sans;
font-weight: 700;
font-size: 2rem;
}
.p-Home.TextBox61 {
box-sizing: border-box;
font-family: Josefin Sans;
font-weight: 700;
font-size: 2rem;
color: #0023f5;
}
.p-Home.TextBox62 {
box-sizing: border-box;
font-family: Josefin Sans;
font-weight: 700;
font-size: 2rem;
}
.p-Home.TextBox63 {
box-sizing: border-box;
font-family: Josefin Sans;
font-weight: 700;
font-size: 2rem;
}
.p-Home.Image17 {
width: 150px;
height: 100px;
}
.p-Home.TextBox64 {
margin-top: 10px;
margin-bottom: 10px;
}
.p-Home.TextBox65 {
font-family: Josefin Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox66 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox67 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox68 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox69 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox70 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox71 {
font-family: Josefin Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox73 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox74 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox75 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox76 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox77 {
font-family: Open Sans;
font-weight: 600;
color: #505050;
}
.p-Home.TextBox78 {
font-family: Josefin Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image18 {
width: 80px;
}
.p-Home.Image19 {
width: 70px;
}
.p-Home.TextBox79 {
font-family: Josefin Sans;
font-weight: 700;
font-size: 20px;
color: #ffffff;
}
.p-Home.TextBox80 {
color: #ffffff;
font-family: Josefin Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Link1 {
;
}
@media screen and (max-width: 478px) {
	.p-Home.Flex7.bpt {
flex-direction: column;
	}
	.p-Home.TextBox10.bpt {
align-self: center;
text-align: center;
	}
}